 .u-section-1 {
  background-image: url("images/568min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-group-1 {
  min-height: 204px;
  margin: 277px auto 277px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 9.125rem;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-group-1 {
    min-height: 336px;
    margin-top: 126px;
    margin-bottom: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8rem;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-group-1 {
    min-height: 271px;
    margin-top: 134px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 6rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    margin-top: 113px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-group-1 {
    min-height: 223px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 6rem;
  }
} .u-section-2 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/et1.jpg");
  min-height: 604px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 604px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 76px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  margin: 102px 103px 0 162px;
}

.u-section-2 .u-line-1 {
  width: 63px;
  height: 3px;
  transform-origin: left center 0;
  margin: -11px auto 0 76px;
}

.u-section-2 .u-text-2 {
  margin: 23px 103px 0 76px;
}

.u-section-2 .u-text-3 {
  margin: 40px 103px 0 76px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px 76px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    line-height: 24px;
    margin-top: 85px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-line-1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    margin-top: -13px;
  }

  .u-section-2 .u-text-2 {
    width: 367px;
    position: relative;
    min-height: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    width: 367px;
    min-height: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    height: 54px;
    width: 137px;
    min-height: 0;
    margin-right: 230px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    min-height: 530px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 65px;
    margin-left: 107px;
  }

  .u-section-2 .u-line-1 {
    width: 55px;
    min-height: auto;
    margin-right: 296px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 350px;
    min-height: auto;
    font-size: 3rem;
    margin-left: 30px;
  }

  .u-section-2 .u-text-3 {
    width: 351px;
    min-height: auto;
    margin-left: 30px;
  }

  .u-section-2 .u-btn-1 {
    min-height: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: 30px;
    width: 155px;
    padding: 10px 24px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1090px;
  }

  .u-section-2 .u-image-1 {
    min-height: 527px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 80px;
    margin-right: 74px;
    margin-left: 141px;
  }

  .u-section-2 .u-line-1 {
    width: 51px;
    min-height: 0;
    margin-right: 515px;
    margin-left: 74px;
  }

  .u-section-2 .u-text-2 {
    width: 492px;
    min-height: 0;
    font-size: 3.75rem;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-2 .u-text-3 {
    width: 492px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    min-height: 0;
    margin-left: 74px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 530px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 134px;
    margin-right: 50px;
    margin-left: 116px;
  }

  .u-section-2 .u-line-1 {
    width: 43px;
    transform: rotate(360deg);
    min-height: auto;
    margin-right: 347px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    min-height: auto;
  }

  .u-section-2 .u-btn-1 {
    min-height: auto;
    margin-bottom: 65px;
    margin-left: 50px;
  }
} .u-section-3 {
  min-height: 600px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 604px;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 76px;
}

.u-section-3 .u-text-1 {
  line-height: 1;
  margin: 60px 103px 0 162px;
}

.u-section-3 .u-line-1 {
  width: 63px;
  height: 3px;
  transform-origin: left center 0;
  margin: -11px auto 0 76px;
}

.u-section-3 .u-text-2 {
  margin: 23px 103px 0 76px;
}

.u-section-3 .u-text-3 {
  margin: 40px 103px 0 76px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px 76px;
}

.u-section-3 .u-image-1 {
  min-height: 604px;
  background-image: url("images/45min2.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    line-height: 24px;
    margin-top: 85px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-3 .u-line-1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    margin-top: -13px;
  }

  .u-section-3 .u-text-2 {
    width: 367px;
    position: relative;
    min-height: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    width: 367px;
    min-height: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    height: 54px;
    width: 137px;
    min-height: 0;
    margin-right: 230px;
  }

  .u-section-3 .u-image-1 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 530px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
    margin-left: 107px;
  }

  .u-section-3 .u-line-1 {
    width: 55px;
    min-height: auto;
    margin-right: 296px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    width: 350px;
    min-height: auto;
    font-size: 3rem;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    width: 351px;
    min-height: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-btn-1 {
    min-height: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: 30px;
    width: 155px;
    padding: 10px 24px;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1090px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 80px;
    margin-right: 74px;
    margin-left: 141px;
  }

  .u-section-3 .u-line-1 {
    width: 51px;
    min-height: 0;
    margin-right: 515px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-2 {
    width: 492px;
    min-height: 0;
    font-size: 3.75rem;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-3 .u-text-3 {
    width: 492px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    min-height: 0;
    margin-left: 74px;
  }

  .u-section-3 .u-image-1 {
    min-height: 527px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 660px;
    order: 1;
  }

  .u-section-3 .u-text-1 {
    margin-top: 134px;
    margin-right: 50px;
    margin-left: 116px;
  }

  .u-section-3 .u-line-1 {
    width: 43px;
    transform: rotate(360deg);
    min-height: auto;
    margin-right: 347px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    min-height: auto;
  }

  .u-section-3 .u-btn-1 {
    min-height: auto;
    margin-bottom: 65px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
    order: 0;
  }
} .u-section-4 {
  min-height: 600px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/316001P8RWRN652.jpg");
  min-height: 604px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 604px;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 76px;
}

.u-section-4 .u-text-1 {
  line-height: 1;
  margin: 102px 103px 0 162px;
}

.u-section-4 .u-line-1 {
  width: 63px;
  height: 3px;
  transform-origin: left center 0;
  margin: -11px auto 0 76px;
}

.u-section-4 .u-text-2 {
  margin: 23px 103px 0 76px;
}

.u-section-4 .u-text-3 {
  margin: 40px 103px 0 76px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px 76px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    line-height: 24px;
    margin-top: 85px;
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-4 .u-line-1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
    margin-top: -13px;
  }

  .u-section-4 .u-text-2 {
    width: 367px;
    position: relative;
    min-height: 0;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    width: 367px;
    min-height: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    height: 54px;
    width: 137px;
    min-height: 0;
    margin-right: 230px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 530px;
  }

  .u-section-4 .u-image-1 {
    min-height: 530px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
    margin-left: 107px;
  }

  .u-section-4 .u-line-1 {
    width: 55px;
    min-height: auto;
    margin-right: 296px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    width: 350px;
    min-height: auto;
    font-size: 3rem;
    margin-left: 30px;
  }

  .u-section-4 .u-text-3 {
    width: 351px;
    min-height: auto;
    margin-left: 30px;
  }

  .u-section-4 .u-btn-1 {
    min-height: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: 30px;
    width: 155px;
    padding: 10px 24px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1090px;
  }

  .u-section-4 .u-image-1 {
    min-height: 527px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 80px;
    margin-right: 74px;
    margin-left: 141px;
  }

  .u-section-4 .u-line-1 {
    width: 51px;
    min-height: 0;
    margin-right: 515px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-2 {
    width: 492px;
    min-height: 0;
    font-size: 3.75rem;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-4 .u-text-3 {
    width: 492px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    min-height: 0;
    margin-left: 74px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 530px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 134px;
    margin-right: 50px;
    margin-left: 116px;
  }

  .u-section-4 .u-line-1 {
    width: 43px;
    transform: rotate(360deg);
    min-height: auto;
    margin-right: 347px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
    min-height: auto;
  }

  .u-section-4 .u-btn-1 {
    min-height: auto;
    margin-bottom: 65px;
    margin-left: 50px;
  }
} .u-section-5 {
  min-height: 353px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/rtg.jpg");
  min-height: 353px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/peeledbananaonbluebackground_232147931342.jpg");
  min-height: 353px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/316001P8RWRN652.jpg");
  min-height: 353px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/piecesofpineapplesandkiwinearcitruses_232147931475.jpg");
  min-height: 353px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 269px;
  }

  .u-section-5 .u-image-2 {
    min-height: 269px;
  }

  .u-section-5 .u-image-3 {
    min-height: 269px;
  }

  .u-section-5 .u-image-4 {
    min-height: 269px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 313px;
  }

  .u-section-5 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5 .u-image-2 {
    min-height: 313px;
  }

  .u-section-5 .u-image-3 {
    min-height: 313px;
  }

  .u-section-5 .u-image-4 {
    min-height: 313px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1199px;
}

.u-section-6 .u-group-1 {
  min-height: 209px;
  width: 800px;
  margin: 100px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 13px 0 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 100px 0;
}

.u-section-6 .u-image-1 {
  min-height: 370px;
  background-image: url("images/photo150185677743529877ed80a3dmin2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  min-height: 370px;
  background-image: url("images/Untitled3min2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  min-height: 370px;
  background-image: url("images/92.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  min-height: 370px;
  background-image: url("images/x2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-image-5 {
  min-height: 370px;
  background-image: url("images/uigyjh2.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-image-6 {
  min-height: 370px;
  background-image: url("images/Untitled52.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-6 .u-group-1 {
    min-height: 185px;
    width: 778px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 8px;
    font-size: 3.75rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 329px;
  }

  .u-section-6 .u-image-2 {
    min-height: 329px;
  }

  .u-section-6 .u-image-3 {
    min-height: 329px;
  }

  .u-section-6 .u-image-4 {
    min-height: 329px;
  }

  .u-section-6 .u-image-5 {
    min-height: 329px;
  }

  .u-section-6 .u-image-6 {
    min-height: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-6 .u-group-1 {
    min-height: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 261px;
  }

  .u-section-6 .u-image-2 {
    min-height: 261px;
  }

  .u-section-6 .u-image-3 {
    min-height: 261px;
  }

  .u-section-6 .u-image-4 {
    min-height: 261px;
  }

  .u-section-6 .u-image-5 {
    min-height: 261px;
  }

  .u-section-6 .u-image-6 {
    min-height: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-6 .u-group-1 {
    min-height: 150px;
    margin-top: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 8px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 370px;
  }

  .u-section-6 .u-image-2 {
    min-height: 370px;
  }

  .u-section-6 .u-image-3 {
    min-height: 370px;
  }

  .u-section-6 .u-image-4 {
    min-height: 370px;
  }

  .u-section-6 .u-image-5 {
    min-height: 370px;
  }

  .u-section-6 .u-image-6 {
    min-height: 370px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2639px;
  }

  .u-section-6 .u-group-1 {
    min-height: 216px;
    margin-top: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 396px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 3px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 326px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 79px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 40px 20px 30px 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 326px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 79px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 40px 20px 30px 0;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 326px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 79px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 40px 20px 30px 0;
}

.u-section-7 .u-layout-cell-4 {
  background-image: none;
  min-height: 326px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-7 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 79px;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 40px 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: 25px;
    margin-left: 64px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 25px;
    margin-left: 64px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-3 {
    height: 53px;
    width: 53px;
    margin-top: 25px;
    margin-left: 65px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-4 {
    height: 53px;
    width: 53px;
    margin-top: 25px;
    margin-left: 65px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-7 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-top: 76px;
    margin-right: 136px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-7 .u-icon-2 {
    height: 60px;
    width: 60px;
    margin-top: 76px;
    margin-left: 129px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 14px;
    margin-bottom: 30px;
    margin-left: 1px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-7 .u-icon-3 {
    height: 60px;
    width: 60px;
    margin-top: 86px;
    margin-left: 129px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 14px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 326px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 15px;
  }

  .u-section-7 .u-icon-4 {
    height: 60px;
    width: 60px;
    margin-top: 86px;
    margin-left: 128px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 231px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(237,146,174,0.15), rgba(237,146,174,0.15)), url("images/39c1efee-0b29-cd09-8d79-44e25c04758c.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 710px;
}

.u-section-8 .u-group-1 {
  width: 775px;
  min-height: 508px;
  margin: 101px auto;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  margin: 17px 60px 0 0;
}

.u-section-8 .u-form-1 {
  height: 329px;
  width: 609px;
  margin: 60px auto 17px;
}

.u-section-8 .u-form-group-4 {
  text-align: center;
}

.u-section-8 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-group-1 {
    width: 639px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 49px;
  }

  .u-section-8 .u-form-1 {
    width: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 489px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-8 .u-form-1 {
    width: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 28px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-8 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 18px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-8 .u-form-1 {
    width: 302px;
  }
}
#mi-enlace {
  width: 50px; /* Ancho deseado */
  height: 50px; /* Alto deseado */

}